{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ product_record.name }} 
		</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>QR-code: </strong>{{ product_record.qrcode_id }}</p>

<p class="card-text">
<strong>Name: </strong>{{ product_record.name }}
</p>

<p class="card-text">
<strong>Br: </strong>{{ product_record.br  }}</p>

<p class="card-text">
<strong>Reworked: </strong>{{ product_record.reworked }}</p>

<p class="card-text">
<strong>Cont: </strong>{{ product_record.cont }}</p>

<p class="card-text">
<strong>Verification: </strong>{{ product_record.verification }}</p>

<p class="card-text">
<strong>Create At: </strong>{{ product_record.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ product_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' product_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' product_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}